<div class="artist-profile-container">
        <div class="profile-container">

          <h1 class="artist-name" id="artist-name">Jonathan Franklin</h1>

          <h2 class="profile-heading">Website:</h2>
          <a href="https://www.fineartist.com" id="url-link">www.JonathanFranklin.com</a>

          <p id="full-profile-bio">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, earum nesciunt explicabo vero voluptatum facere corporis dicta voluptate soluta. Corporis optio quos ea sit autem deserunt saepe molestias, quis dolorem ipsam consequatur suscipit ex quam? Minima dicta tempora consectetur eligendi tenetur natus veniam odit deserunt temporibus, rem similique labore expedita, repellendus enim repellat ad! Beatae nisi reprehenderit tempora repudiandae fuga magni quam officia itaque voluptas possimus rerum iusto, placeat eos eveniet aliquid praesentium perspiciatis at reiciendis fugit. Ipsum blanditiis voluptatum commodi dicta dignissimos, consequatur iusto doloribus quis illum sapiente distinctio, animi delectus aliquid optio, nisi maxime veniam itaque. Quam quidem quis deleniti itaque rerum. Doloribus odit corporis numquam a tenetur nostrum iure commodi enim esse accusamus in quia, illo rerum molestiae perferendis consequatur quibusdam qui mollitia sapiente sit quasi expedita laboriosam odio nam? Rem, sequi. Ullam recusandae ratione harum maxime sit. Ullam, obcaecati quidem tempore repellat repudiandae natus debitis omnis!
          </p>

          <div class="descriptors">
            <div class="title">
              <h2 class="profile-heading">Artwork Title:</h2>
              <p id="artwork-title">"Trees in the Wind"</p>
            </div>
            <div class="price">
              <h2 class="profile-heading">Price:</h2>
              <p id="artwork-price">$1,000</p>
            </div>
            <div class="size">
              <h2 class="profile-heading">Artwork Dimensions:</h2>
              <p id="artwork-dimensions">60" x 70"</p>
            </div>
          </div>

              <h2 class="profile-heading">Artwork Description:</h2>
              <p id="artwork-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, earum nesciunt explicabo vero voluptatum facere corporis dicta voluptate soluta. Corporis optio quos ea sit autem deserunt saepe molestias, quis dolorem ipsam consequatur suscipit ex quam? Minima dicta tempora.
              </p>
            <div class="artwork-container">
              <img src="../../images/painting-sample.jpg" alt="Oil Painting">
              <a href="/update-profile" class="update-link"><button class="update-profile-button" id="update-from-profile">Update My Profile</button></a>
            </div>
        </div>
        </div>
        <div class="comments-heading-container" id="leave-comment">
        <h2 class="comments-heading" id="comments-title">Comments:</h2>
        <a href="/add-comments" class="leave-comment-link">Leave Comment</a>
        </div>

        <div class="profile-comments-container">
          <div class="comments-container">
            <h3 class="comment-title">I love this artists' style of painting!</h3>
            <p id="comments" class="buyer-comments">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, earum nesciunt explicabo vero voluptatum facere corporis dicta voluptate soluta.
            </p>
          </div>
        </div>