    {{!-- Dashboard content container --}}
    <div class="dashboard-container">
          <div class="dashboard-heading">
            <h1 class="dashboard-title">Welcome to the Artist Showcase Page!</h1>
            <p class="dashboard-text">Browse through our Artist Showcase and discover some hidden gems.</p>
          </div>
        {{!-- This column holds the artwork thumbnail and artist info container: --}}
        <div class="dashboard-artist-column">
            <div class="feature-artist-container">
              {{!-- This container holds the img/artwork thumbnail: --}}
              {{!-- <div class="artwork-container">
                <img class="artwork-image" src="../../images/painting-sample.jpg" alt="nature oil paiting">
              </div> --}}
              {{!-- This container holds the artist name, short bio snippet and link to profile: --}}
              <div class="artist-info">
                <h2 class="artist-name" id="dashboard-artist-name">Louis Escobedo</h2>
                <p class="artist-bio" id="bio-snippet">Louis Escobedo was born in Sweetwater, Texas, and received a BFA in Advertising Art from Sam Houston State University in Huntsville, Texas. He began his painting career at age 6 when he won the best of show in his elementary school in Sweetwater Texas.  In 1974, after graduation from college he began his career as an artist honing his talents to become a freelance illustrator in Texas. In 1979, he finally achieved his goal.</p>
                <a href="/profile/1"><h2 class="view-profile" id="view-profile-link">View full profile <span class="arrow" id="arrow-link">&#11136</span></h2></a>
              </div>
            </div>
        </div>
    </div>